<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="partyService" class="training.Spring2.PartyService">
		<property name="partyDao1" ref="pDaoId"></property>
	</bean>
	<bean id="pDaoId" class="training.Spring2.PartyDao">
	  <constructor-arg ref = "dataSource"/>
	<property name="Addrress" value="1700 Corwth Dr"></property>
	</bean>
	
<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
        <property name="username" value="transport" />
        <property name="password" value="transport" />

    </bean>

</beans>